.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 54px;
    font-size: 13px;
    .logo {
        width: 110px;
    }
    ul {
        display: flex;
        li {
            display: inline-block;
            padding: 16px 8px 10px;
            border: 1px dashed transparent;
            &:active {
                padding: 16px 8px 10px;
                border: 1px dashed $color-primary;
            }
            & a {
                padding-bottom: 2px;
                border-bottom: 2px solid transparent;
                transition: all .2s ease;
            }
            &:hover a {
                padding-bottom: 2px;
                border-bottom: 2px solid black;
            }
            @include respondsive (phone-l){
                &.main-menu__item {
                    display: block;
                    padding: 8px ;
                    margin: 8px 30px ;
                    margin-left: 22px;
                    &:not(:last-child){
                        border-bottom: #ccc solid 1px;
                        &:hover {
                            border: 1px dashed $color-primary;
                        }
                    }
                }
            }
        }
        &.main-menu {
            flex: 1;
            margin-left: 20px;
            &.show {
                transform: translateX(0);
            }
            @include respondsive (phone-l) {
                transform: translateX(-100%);
                transition: transform .5s ease-in-out;
                position: fixed;
                margin-top: 54px;
                background: #f2f2f2;
                opacity: 0.9;
                flex-direction: column;
                align-self: flex-start;
                left: -20px;
                width: 50%;
                height: 100%;
                z-index: 0;
            }
        }
    }
}
.menu-btn {
    cursor: pointer;
    display: none !important; 
    @include respondsive (phone-l) {
        display: block !important;
    }
}