section.navigation {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 20;
}
section.showcase {
    margin-bottom: 20px;
    .container {
        height: 400px;
        background: url(../img/showcase.jpg) no-repeat center/cover;

        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
    }
}
section.home-cards {
    margin-bottom: 40px;
    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px;
        @include respondsive (phone-s) {
            grid-template-columns: repeat(2, 1fr);
        }
        @include respondsive (phone-xs) {
            grid-template-columns: 1fr;
        }
    }
}
section.xbox {
    margin-bottom: 20px;
    .container{
        background: url(../img/xbox.png) no-repeat center center/cover;
        height: 350px;

    }
}
section.carbon {
    margin-bottom: 20px;
    color: white;
    .container{
        background: url(../img/carbon.jpg) no-repeat center center/cover;
        height: 350px;
        display: flex;
        align-items: center;
    }
}
section.follow {
    margin-bottom: 20px;
}